[Unit]
Description=desmosd
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
# User=gaiad
# Group=gaiad
PermissionsStartOnly=true
ExecStart=/usr/bin/desmosd start --home /desmos --p2p.seeds 08c7b07000675ed6c0872f9a95075e5e9bc2e619@18.162.149.156:26656 --p2p.persistent_peers 7fed5624ca577eb0333d3631b5e4f16ba1736979@54.180.98.75:26656
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
